<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.net>
    <!-- Mail settings -->
    <mailSettings>
      <smtp deliveryMethod="Network" from="ApplicationName@ubh.com">
        <network defaultCredentials="true" host="email host goes here" port="25" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
    <customErrors mode="RemoteOnly" defaultRedirect="UBHApplicationError.html">
      <error statusCode="403" redirect="NoAccess.htm" />
      <error statusCode="404" redirect="UBHPageNotFound.html" />
    </customErrors>
    <!-- Health Monitoring -->
    <healthMonitoring enabled="true">
      <eventMappings>
        <clear />
        <add name="ApplicationName Errors" type="System.Web.Management.WebBaseErrorEvent" startEventCode="0" endEventCode="2147483647" />
      </eventMappings>
      <providers>
        <clear />
        <add name="EventLogProvider" type="System.Web.Management.EventLogWebEventProvider" />
        <add type="System.Web.Management.SimpleMailWebEventProvider" name="EmailWebEventProvider" from="ApplicationName@gmail.com" to="errorAddress@gmail.com" bodyHeader="!!! HEALTH MONITORING WARNING !!!" bodyFooter="This email has been generated automatically. Please do not reply." buffer="false" />
      </providers>
      <rules>
        <clear />
        <add name="Event Log Errors" eventName="ApplicationName Errors" provider="EventLogProvider" profile="Default" minInstances="1" maxLimit="Infinite" minInterval="00:00:00" />
        <add name="Email Errors" eventName="ApplicationName Errors" provider="EmailWebEventProvider" profile="Default" minInstances="1" maxLimit="Infinite" minInterval="00:00:00" />
      </rules>
    </healthMonitoring>
  </system.web>
  <connectionStrings>
    <!--MAKE SURE TO UPDATE THE User Id on the connection string to use the one created for the specific application-->
    <!--TEST-->
    <add name="cnUBH_SQL" connectionString="Data Source=OINK; Initial Catalog=dbName; User Id=SAName; Password=thePasswordGoesHere" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--Security Nodes-->

    <!--TEST-->
    <!--Set this value to allow running as other users (on localhost)-->
    <add key="localhostDebug" value="http://localhost/" />
    <add key="localhostDebugUser" value="AD user name" />
    <!--PRODUCTION-->
    <!--<add key="localhostDebug" value="http://server.ubh.com/UBHApplicationName" />-->
    <!--<add key="localhostDebugUser" value="" />-->
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
